<nav>
    <img class="img" src='./moonpig.png' alt='img'>
    <ul class="nav">
        <li><a class="nav" href="./order">Customer</a></li>
        <li><a class="nav" href="./factory">Factory</a></li>
        <li><a class="nav" href="./engineer">Engineer</a></li>

    </ul>
</nav>