<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Customer Order</title>
</head>

<body>
    <br>
    <br>
    <h1 class="center">{{err}}</h1>
    <br>
    <br>
    <div class="center">
        <form class="center" action='/order' method='POST'>
            <div class="center">
                <label for='email'>Email:</label>
                <input class="resize1" id='email' type='text' name='email' placeholder='Email address'>
            </div>
            <br>
            <div class="center">
                <label for='full-name'>Full Name:</label>
                <br>
                <input class="resize1" id='full-name' type='text' name='fullName' placeholder='Full Name'>
                <br>
            </div>
            <div class="center">
                <label for='billing-address'>Billing Address:</label>
                <br>
                <input class="resize" id='billing-address' type='text' name='billingAddress'
                    placeholder='Billing Address'>
                <br>
            </div>
            <div class="center">
                <label for='dispatch-address'>Dispatch Address:</label>
                <br>
                <input class="resize" id='dispatch-address' type='text' name='dispatchAddress'
                    placeholder='Dispatch Address'>
                <br>
            </div>
            <div class="center">
                <label for='productType'>T-Shirt:</label>
                <br>
                <br>
                <input class="resize1" id='T-Shirt' type='number' name='tshirt' placeholder='T-Shirt'> 
                <label for='productType'>Mug:</label>
                <br>
                <br>
                <input class="resize1" id='Mug' type='number' name='mug' placeholder='Mug'> 
                <label for='productType'>Gift:</label>
                <br>
                <br>
                <input class="resize1" id='Gift' type='number' name='gift' placeholder='Gift'> 
                <label for='productType'>Card:</label>
                <br>
                <br>
                <input class="resize1" id='Card' type='number' name='card' placeholder='Card'> 
            </div>
            {{!-- <div class="center"> --}}
                {{!-- <label for="quantity"> Quantity:</label>
                <input class="resize2" id='quantity' type='int' name='quantity'>
                <br> --}}
                {{!-- <input id='addOrder' type='submit' value='Add To Order'>
                <br>
                <br>
            </div> --}}
            <div class="center">
                <input id='order' type='submit' value='Submit Order'>
            </div>
    </div>
    </form>
</body>

</html>

                {{!-- <select name="config[mode]">
                    <option value="" selected="selected"></option>
                    <option value="card">Card</option>
                    <option value="mug">Mug</option>
                    <option value="tshirt">T-Shirt</option>
                    <option value="gift">Gift</option>
                </select> --}}
                {{!-- <input name="productType" list="browsers">

<datalist id="browsers">
  <option value="Internet Explorer">
  <option value="Firefox">
  <option value="Google Chrome">
  <option value="Opera">
  <option value="Safari">
</datalist> --}}
                {{!-- <input class="resize1" id='productType' type='text' name='productType' placeholder='Product'> --}}
                
                {{!-- <button id="card-button">Card</button>
                <button id="gift-button">Gift</button>
                <button id="t-shirt-button">T-Shirt</button>
                <button id="mug-button">Mug</button> --}}