<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title> Thanks for your order! </title>
</head>

<body>
    <br><br>
    <h1> Thanks for ordering! </h1>
    <br><br>
    <p>Your order ID is  Order ID:
        <br><br>
        {{id}}
</p>
    <br><br>
    <div class="Order Complete">
   

</ul>
</div>
</body>

</html>